<template>
  <div class="column align-items-center">
    <b-form-row class="mb-3">
      <GitlabProjectLabelsSelect
        :project.sync="project"
        :labels.sync="labels"
        class="w-100"
      />
    </b-form-row>
    <b-form-row>
      <GitlabProjectMilestoneSelect
        v-model="milestone" 
        :project="project"
        class="w-100"
      />
    </b-form-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, PropSync, Watch } from 'vue-property-decorator';

import { GitlabProject, GitlabMilestone, GitlabLabel } from '@/api/gitlab';
import GitlabProjectMilestoneSelect from '@/components/molecules/inputs/GitlabProjectMilestoneSelect.vue';
import GitlabProjectLabelsSelect from '@/components/molecules/inputs/GitlabProjectLabelsSelect.vue';

@Component({
  components: {
    GitlabProjectMilestoneSelect,
    GitlabProjectLabelsSelect,
  },
})
export default class GitlabProjectForm extends Vue {

  project: GitlabProject | null = null;

  milestone: GitlabMilestone | null = null;

  labels: GitlabLabel[] = [];

  get complete() {
    return this.project !== null
        && this.milestone !== null
        && this.labels.length > 0;
  }

  @Watch('complete')
  onComplete(complete: boolean) {
    if (complete) {
      this.$emit('submit', {
        project: this.project,
        milestone: this.milestone,
        labels: this.labels,
      });
    }
  }
}
</script>
