<template>
  <div>
    <label class="mb-1">プロジェクト</label>
    <b-form-select 
      :options="projectOptions" 
      :disabled="projectOptions.length === 0"
      @change="onChange"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

import { GitlabProject, GitlabLabel } from '@/api/gitlab';

interface ProjectWithLabels {
  project: GitlabProject;
  labels: GitlabLabel[];
}

@Component
export default class GitlabProjectLabelsSelect extends Vue {

  get projects(): ProjectWithLabels[] {
    return [
      {
        project: {
          id: 13231645,
          name: 'online_submission',
        },
        labels: [
          {
            id: 12735968,
            name: 'リリース待ち',
          },
          {
            id: 12134004,
            name: '修正確認待ち',
          },
          {
            id: 12208046,
            name: 'フィードバック',
          },
        ],
      },
    ];
  }

  get projectOptions() {
    return this.projects.map(({ project, labels }) => {
      return {
        text: project.name,
        value: {
          project,
          labels,
        },
      };
    });
  }

  onChange(selection: ProjectWithLabels) {
    this.$emit('update:project', selection.project);
    this.$emit('update:labels', selection.labels);
  }
}
</script>