<template>
  <div>
    <label class="mb-1">マイルストーン</label>
    <b-form-select
      :value="value"
      :options="options" 
      :disabled="options.length === 0" 
      @change="$emit('input', $event)" 
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch, Inject } from 'vue-property-decorator';

import { GitlabMilestone, GitlabProject } from '@/api/gitlab';
import { GitlabState } from '@/state/GitlabState';

@Component
export default class GitlabProjectMilestoneSelect extends Vue {

  @Inject()
  gitlab!: GitlabState;

  @Prop({ required: true })
  project?: GitlabProject;

  @Prop({ required: true })
  value?: GitlabMilestone;

  milestones: GitlabMilestone[] = [];

  get options() {
    return this.milestones
      .map((milestone) => {
        return {
          text: milestone.title,
          value: milestone,
        };
      });
  }

  @Watch('project', { immediate: true })
  async fetchMilestonesOnProjectChanged() {
    this.milestones = [];

    if (this.project) {
      const api = await this.gitlab.use();
      this.milestones = await api.getProjectMilestones(this.project.id);
    }
  }
}
</script>