<template>
  <div class="row justify-content-center m-5">
    <b-card class="px-2 py-1">
      <div v-if="!gitlab.user" class="column">
        <h2>リリースポータルへようこそ</h2>
        <small>ログインしていません。</small>
      </div>
      <GitlabProjectForm 
        v-else 
        @submit="onSubmit"
      />
    </b-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Inject, Watch } from 'vue-property-decorator';

import { GitlabState } from '@/state/GitlabState';
import { GitlabMilestone, GitlabProject, GitlabLabel } from '@/api/gitlab';

import GitlabProjectForm from '@/components/organisms/forms/GitlabProjectForm.vue';

@Component({
  components: {
    GitlabProjectForm,
  },
})
export default class LandingPage extends Vue {

  @Inject()
  gitlab!: GitlabState;

  async mounted() {
    if (await this.gitlab.loginComplete(this.$route)) {
      this.$router.replace({
        path: '/',
      });
    }
  }

  onSubmit(form: {
    project: GitlabProject;
    milestone: GitlabMilestone;
    labels: GitlabLabel[];
  }) {
    this.$router.push({
      path: `/projects/${form.project.id}/milestones/${form.milestone.id}`,
      query: {
        labels: form.labels.map((label) => label.id.toString()),
      },
    });
  }
}
</script>