<template>
  <div class="row justify-content-center m-5">
    <b-card v-if="issues.length === 0" class="p-2">
      <div class="row align-items-center">
        <b-spinner variant="primary" class="mr-3" />
        <div>情報取得中…</div>
      </div>
    </b-card>
    <div v-else class="w-100">
      <b-card v-if="this.project" class="px-3 mb-4">
        <div class="row justify-content-between">
          <div class="column">
            <h5>{{ this.project.name }}</h5>
            <div v-if="this.milestone" class="small text-muted">マイルストーン：{{ this.milestone.title }}</div>
            <div class="small text-muted">取得日時：{{ this.date }}</div>
          </div>
          <div class="column">
            <b-button variant="primary" @click="refresh">
              更新
            </b-button>
          </div>
        </div>
      </b-card>
      <GitlabIssueLabelStateLineGraph
        :issues="issues"
        :labels="labels"
      />
    </div>
  </div>
</template>

<script lang="ts">
import _ from 'lodash';
import dayjs from 'dayjs';
import Vue from 'vue';
import Component from 'vue-class-component';
import { Inject, Prop } from 'vue-property-decorator';

import GitlabIssueLabelStateLineGraph from '@/components/organisms/graphs/GitlabIssueLabelStateLineGraph.vue';
import { GitlabState } from '@/state/GitlabState';
import { GitlabIssue, GitlabLabelEventsAnnotated, GitlabProject, GitlabMilestone, GitlabLabel } from '@/api/gitlab';

@Component({
  components: {
    GitlabIssueLabelStateLineGraph,
  },
})
export default class ProjectPage extends Vue {

  @Inject()
  gitlab!: GitlabState;

  @Prop({ required: true })
  projectId!: number;

  @Prop({ required: true })
  milestoneId!: number;

  @Prop({ required: true })
  labelIds!: number[];

  project: GitlabProject | null = null;
  milestone: GitlabMilestone | null = null;
  labels: GitlabLabel[] = [];
  issues: Array<GitlabIssue & GitlabLabelEventsAnnotated> = [];

  mounted() {
    this.refresh();
  }

  async refresh() {
    this.issues = [];

    try {
      const api = await this.gitlab.use();
      [this.project, this.milestone, this.labels, this.issues] = await Promise.all([
        api.getProject(this.projectId),
        api.getProjectMilestone(this.projectId, this.milestoneId),
        api.getProjectLabels(this.projectId).then((labels) => {
          const labelsById = _.keyBy(labels, (label) => label.id);
          return _.compact(this.labelIds.map((labelId) => labelsById[labelId]));
        }),
        api.getProjectMilestoneIssues(this.projectId, this.milestoneId).then((issues) => {
          return api.getProjectIssueLabelEvents(this.projectId, issues);
        }),
      ]);
   
    } catch (error) {
      alert(error.message);

      await this.$router.push({
        path: '/login',
      });
    }
  }

  get date() {
    return dayjs().format('YYYY/MM/DD HH:mm');
  }
}
</script>