<template>
  <div class="row justify-content-between align-items-center bg-light p-3">
    <h6 class="ml-3 mb-0">
      <div>リリースポータル</div>
      <small class="text-muted" v-if="gitlab.user">{{ gitlab.user.username }}</small>
    </h6>
    <div v-if="showButtons" class="mr-3">
      <b-button variant="primary" v-if="!gitlab.user" @click="onLogin">ログイン</b-button>
      <b-button variant="secondary" v-else @click="onLogout">ログアウト</b-button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

import { Watch, Inject } from 'vue-property-decorator';

import { GitlabState } from '@/state/GitlabState';

@Component
export default class TheGitlabAccountHeader extends Vue {

  @Inject()
  gitlab!: GitlabState;

  get showButtons() {
    return this.gitlab.state === 'ready';
  }

  onLogin() {
    this.gitlab.loginBegin();
  }

  async onLogout() {
    if (await this.gitlab.logout()) {
      if (this.$route.path !== '/') {
        this.$router.push({
          path: '/',
        });
      }
    }
  }
}
</script>

<style scoped>
.row {
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
}
</style>
