<template>
  <div id="app">
    <TheGitlabAccountHeader />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject, Provide, ProvideReactive } from 'vue-property-decorator';

import router from '@/router';
import '@/style';

import TheGitlabAccountHeader from '@/components/molecules/TheGitlabAccountHeader.vue';
import { GitlabState } from '@/state/GitlabState';

@Component({
  router,
  components: {
    TheGitlabAccountHeader,
  },
})
export default class App extends Vue {

  @Provide()
  gitlab: GitlabState = new GitlabState();
}
</script>

<style lang="css">
html,
body,
#app {
  height: 100%;
}
</style>
